*,
*:before,
*:after {
    outline: 2px solid blue !important;
    margin: 0em;
    padding: 0em;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

input,
textarea {

    outline: none
}


button,
input[type="submit"] {

    outline: none;
    border: none;

}

button:hover,
input[type="submit"] {

    cursor: pointer;
    transform: translateY(-0.25em);

}

li,
a {
    text-decoration: none;
}

nav {
    margin-bottom: 10em;

}

header {
    margin-bottom: 10em;

}

h1{
    color: #71695A;

}