*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    color: black;
}

a{
    text-decoration: none;
}

.header__nav{
    padding: 3.5em; 
    text-align: center;

}

.header__a{
    letter-spacing: 0.4em;
    padding: 1.3em;
}


.title-div__square{
    width: 75%;
    height: 40em;
    background-color: #F2EFE4;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
}


.title-div__img-container{
    position: absolute;
    top: 0;
    right: 0; 

}

.title-div__img-container img{
    object-fit: cover;
    height: 40em;
}

.title-div__heading h1{
    color: #71695A;
    margin-bottom: 1em;
    font-size: 5em; 
}

.title-div__heading button{
    background-color: #9D9E85;
    color: #FFFFFF;
    border: none;
    width: 20em;
    height: 4em;
    padding: 1em;
    letter-spacing: 0.3em;
    display: block;

}

.title-div__heading button:hover{
    background-color: #c5c6a8;
}

.skills-div{
    margin-top: 10em;
    
    
}

.skills-div__square{
    background-color: #6FA7B9;
    width: 100%;
    height: 40em;
    position: absolute;
    z-index: -1;
    top: 125%;
}


.skills-div__mainsquare{
    background-color: #026873;
    max-width: 50%;
    position: relative;
    left: 25%;
}


.skills-div__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-div__content h2{
    min-width: 100%;
    text-align: center;
    color: #A8A48F;
    font-size: 3em ;
}

.skills-div__content img{
    width: 100px;
    padding: 3em;
    object-fit: contain;
    transform: all 1s;
}

.skills-div__content img:hover{
    width: 150px;
}

.skills-div__content--frontendimg{
   min-width: 300px;
}

.work-title{
    margin: 10em 3em 0em 3em;
}

.work-title h2{
    color: #6C6B6B;
    font-size: 3em;
    margin-bottom: 0.8em;
}

.work-div{
    display: flex;
    flex-wrap: wrap;
    margin: 0em 16em;
}

.div-title{
    width: 25%; 
    margin: 0 2em 2em 0;
}

.div-description{
    width: 70%; 

}

.work-div__job-title{
    color: #6D6D6D;
    font-size: 1.5em;  
 
}
.fecha{
    color: #7E7C7C;
    font-size: 1em;
}


.about-div{
    margin: 0 3em 3em 3em ;
}

.about-div h2{
    color: #6C6B6B;
    font-size: 3em;
    margin-top: 0.8em;
}

.about-div p{
    margin: 2em 0em;
}

.about-div img{
    width: 100%;
}

.sign{
    max-width: 20%;
}


.footer{
    display: flex;
    flex-wrap: wrap;
    margin: 0 3em 3em 3em;
    justify-content: center;

}

.contact-div{
    width: 34%;
    text-align: center;
    margin: auto 0;
    

}

.contact-div h2{
    color: #59254B;
    font-size: 3em;
    margin: 0.5em 0;
}

.contact-div h3{
    color: #6C6B6B;
    font-size: 2em;

}

.contact-div h4{
    color: #7E7C7C;
    font-size: 1.8em;
    font-weight: 300;

}

.contact-div img{
    margin: 1em 0;
    padding: 0 1em;
}

.contact-div p{
    color: #9D9D9D;
    font-size: 1em;
}

.form-div{
    width: 65%;
    box-shadow: #cccccc;
    display: flex;
    
}

.form-div form{
    width: 65%;
    flex-grow: 65%;
}

.form-div input{
    outline: 0;
    border-width: 0 0 1px;
    border-color: #7E7C7C;
    color: #7E7C7C;
    padding: 5em 0;
    min-width: 50%;
    display: block;
    margin: 0 auto;
}

.form-div button{
    background-color: #59254B;
    border-style: none;
    color: white;
    padding: 1em;
    margin: 5em 20em;
}

.form-div button:hover{
    background-color: #65475d;
}

.form-div div{
    width: 35%;
    flex-grow: 35%;
}
.form-div img {
    width: 100%; 
    height: 100%;   
    object-fit: contain;
}

.title-div__img-container--hiden{
    display: none;
}
@media (max-width: 1200px){
    .skills-div__square{
        height: 50em;
        top: 125%;
    }
    
    .work-div{
        display: block;
    }

    .work-title{
        text-align: center;
    }

    .div-description{
        display: none;
    }

    .div-title{
        min-width: 100%;
        text-align: center;
    }

    .sign{
        max-width: 40%;
    }

    .form-div button{
        margin: 5em 15em;
    }

    .form-div div{
        display: none;
    }

    .form-div form{
        width: 100%;
        flex-grow: 55%;
    }

    .title-div__square{
        width: 75%;
        height: 30em;
        background-color: #F2EFE4;
        position: absolute;
        z-index: -1;
    }

    

    .header__nav{
        display: none;

    }

    .title-div__square{
        display: none;
    }

    .title-div__img-container{
       display: none; 

    }

    .title-div{
        display: block;
        text-align: center;

    }

    .title-div__heading h1{
        color: #71695A;
        margin-bottom: 1em;
        font-size: 5em; 
    }

    .title-div__heading button{
        background-color: #9D9E85;
        color: #FFFFFF;
        border: none;
        width: 20em;
        height: 4em;
        padding: 1em;
        letter-spacing: 0.3em;

    }

}

@media (max-width: 800px){
    .skills-div__square{
        height: 90em;
        top: 125%;
    }
    .skills-div__content--frontendimg{
        min-width: 200px;
    }

    .work-div{
        margin: 0;
    }

    .div-title{
        width: 100%; 
        margin: 1em;
        
    }

    .fecha{
        display: none;
    }

    .sign{
        max-width: 70%;
    }

    .form-div{
        display: none;
    }

    .contact-div{
        margin: 0;
        text-align: center;
        
    }
}
